<heater class="fixed top-0 z-10 flex items-center justify-between w-full px-2 sm:px-4 mx-auto mt-2">
    <div class="w-12 h-12 relative flex-shrink-0">
        <img  
            class="rounded-lg w-full h-full object-cover"
            src="https://favim.com/pd/s11/orig/8/822/8226/82268/caricatura-huesos-billy-y-mandy-Favim.com-8226832.jpg"
            alt="mi foto"
        />
    </div>

    <nav class="flex flex-row gap-x-2 sm:gap-x-4 text-xs sm:text-sm font-medium text-gray-600 dark:text-gray-200">
        <a href="#top">INICIO</a>
        <a href="#EXPERIENCIA">EXPERIENCIA</a>
        <a href="#PROYECTO">PROYECTOS</a>
        <a href="#SOBRE-MI">SOBRE MI</a>
        <a href="#CONTACTOS">CONTACTOS</a>
    </nav>
</heater>